<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" id="username" placeholder="User name" value="newuser">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" id="password" placeholder="Password">
				</div>
				<button type="button" class="button login__submit" id="signin" onclick="signInForm()">
					<span class="button__text">Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
                <button class="button login__submit" id="signup">
					<span class="button__text">Sign Up</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
<!--			<div class="social-login">-->
<!--				<h3>log in via</h3>-->
<!--				<div class="social-icons">-->
<!--					<a href="#" class="social-login__icon fab fa-instagram"></a>-->
<!--					<a href="#" class="social-login__icon fab fa-facebook"></a>-->
<!--					<a href="#" class="social-login__icon fab fa-twitter"></a>-->
<!--				</div>-->
<!--			</div>-->
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
	<script>
		var username = $('#username').val();
		var roomname = 'newroom'
		var password = document.getElementById('password')

		function signInForm() {
			if(username == ('' || undefined)) {
				console.log('no value')
				return false
			}
			console.log(username)
			location.href = '/' + roomname + '/' + username
			var ws = new WebSocket(`ws://localhost:8000/ws/${roomname}`);
		}

	</script>
</div>