<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}" />
    </head>
    <body>
        <form id="submit_room_name">
            <input type="text" style="width: 250px" id="room_name" placeholder="type in the room name you wish to join">
            <button class="btn waves-effect waves-light send-button" type="submit" name="action">
                <i class="material-icons right">send</i>
            </button>
        </form>
    </body>
    <script>

    </script>
</html>